{% extends "base.html" %}
{% block content %}
<form action="/do-update-emp/{{data.id}}" method="post">
    {% csrf_token %}
    <!-- Name -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required value="{{data.name}}">

    <br>

    <!-- Email -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required value="{{data.email}}">

    <br>

    <!-- Password -->
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required value="{{data.password}}">

    <br>

    <!-- Submit button -->
    <input type="submit" value="Update">
</form>
{% endblock content %}